html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }
h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.25rem; }

h3 {
  font-size: 1.125rem; }

h4 {
  font-size: 1rem; }

p {
  font-size: 0.875rem; }

@font-face {
  font-family: 'ProximaNovaSoft-Regular';
  src: url("ProximaNovaSoft-Regular.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSoft-Semibold';
  src: url("ProximaNovaSoft-Semibold.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSoft-Medium';
  src: url("ProximaNovaSoft-Medium.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaSoft-Bold';
  src: url("ProximaNovaSoft-Bold.otf");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 100%; }

body {
  background-color: #f0f1f2;
  font-family: "ProximaNovaSoft-Regular", Arial, sans-serif;
  color: #7e7f80;
  -webkit-font-smoothing: antialiased;
  /* Disable tap overlay color on links - set alpha to %0 = invisible */
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5 {
  color: #454747; }

p {
  color: #525354; }

a {
  display: inline-block;
  text-decoration: none; }
  a:link {
    color: #2d95d6; }
  a:visited {
    color: #2d95d6; }
  a:hover {
    color: #2584bf; }
  a:active {
    color: #2d95d6; }


.sf-layout-item,
.input-block {
  position: relative;
  padding-left: 0.875em;
  padding-right: 0.875em;
  margin-bottom: 0.875em; }
  .input-block.picklist--publisher label {
    position: absolute;
    z-index: 2;
    padding: 0.875em; }
  .input-block.picklist--publisher input.input-picklist {
    padding-left: 3.6em; }
  .input-block.poll-choice {
    padding-right: 2.5em; }
    .input-block.poll-choice:after {
      position: absolute;
      right: 8px;
      top: 13px;
      color: #969899;
      font-family: "SSPika";
      font-style: normal;
      font-weight: normal;
      text-decoration: none;
      text-rendering: optimizeLegibility;
      white-space: nowrap;
      -webkit-font-feature-settings: "liga";
      -moz-font-feature-settings: "liga=1";
      -moz-font-feature-settings: "liga";
      -ms-font-feature-settings: "liga" 1;
      -o-font-feature-settings: "liga";
      font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
      content: 'delete'; }

.sf-layout-item-label,
.input-label {
  font-family: "ProximaNovaSoft-Regular";
  margin-bottom: 0.25em; }

.sf-layout-item-label,
label {
  color: #969899;
  font-size: 0.875rem; }
  label.input-label--checkbox, label.input-label--radio {
    color: #525354; }

.sf-layout-item-value {
  display: -webkit-box; }

.sf-layout-item-value,
.sf-layout-item-value input,
.sf-layout-item-value select,
.sf-layout-item-value textarea {
  display: -webkit-box;
  -webkit-box-flex: 1.0;
  margin: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 1, 0.04);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 1, 0.04);
  box-shadow: inset 0 1px 2px rgba(0, 0, 1, 0.04);
  border: 1px solid #ced0d2;
  border-radius: 5px;
  padding: .7em .7em .5em;
  font-family: "ProximaNovaSoft-Regular";
  color: #525354;
  font-size: 1rem;
  background-color: #e9e9eb; }
  input:focus, textarea:focus {
    background-color: white;
    border: 1px solid #b9babc;
    box-shadow: none;
    outline: none; }
  input[disabled], textarea[disabled] {
    background-color: #e5e6e7;
    border: none;
    color: #969899; }

.edit .sf-layout-item-value span {
  display: -webkit-box;
  margin: 0.1em;
}
.edit .sf-layout-item-value span:first-child {
  margin-left: 0; }
.edit .sf-layout-item-value span:last-child {
  -webkit-box-flex: 1.0; }

.sf-layout-item-value,
input[class*="readonly"],
textarea[class*="readonly"] {
  margin: 0;
  padding: 0;
  background: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none; }

.sf-layout-item-value select, input[class*="picklist"] {
  background: white -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ededed), color-stop(100%, #f7f7f7));
  background: white -webkit-linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  background: white -moz-linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  background: white -o-linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  background: white linear-gradient(bottom, #ededed 0%, #f7f7f7 100%);
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), inset 0 0 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), inset 0 0 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), inset 0 0 0 rgba(255, 255, 255, 0.75);
  font-size: 15px;
  -webkit-appearance: none}
  select:active, input[class*="picklist"]:active {
    border: 1px solid #dbdbdb;
    background: #e9e9e9;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  -webkit-appearance: none;
  display: inline-block;
  height: 22px;
  margin: 0 6px 0 0;
  border: 1px solid #c3c6c9;
  padding: 0;
  width: 22px;
  vertical-align: middle;
  background: white -webkit-linear-gradient(bottom, rgba(0, 1, 1, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 0 1px 1px white; }
  input[type="checkbox"]:focus, input[type="checkbox"]:active,
  input[type="radio"]:focus,
  input[type="radio"]:active {
    background-color: #eee; }
  input[type="checkbox"][class*="disabled"],
  input[type="radio"][class*="disabled"] {
    opacity: 0.4; }
  input[type="checkbox"]:checked,
  input[type="radio"]:checked {
    border: 1px solid #2c75a3;
    background-color: #3b9fdd;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #3b9fdd), color-stop(100%, #3b9fdd));
    background-image: -webkit-linear-gradient(bottom, #3b9fdd 0%, #3b9fdd 100%);
    background-image: -moz-linear-gradient(bottom, #3b9fdd 0%, #3b9fdd 100%);
    background-image: -o-linear-gradient(bottom, #3b9fdd 0%, #3b9fdd 100%);    background-image: linear-gradient(bottom, #3b9fdd 0%, #3b9fdd 100%); }
  input[type="checkbox"]:checked::after,
  input[type="radio"]:checked::after {
    position: absolute;
    content: ''; }

input[type="checkbox"]:checked::after {
  left: 4px;
  top: 5px;
  height: 18%;
  width: 10px;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  /*box-shadow:  -1px 1px 1px rgba(0, 0, 0, .1);*/
  -webkit-transform: rotate(-45deg); }

input[type="radio"] {
  border-radius: 11px; }
  input[type="radio"]:checked::after {
    left: 6px;
    top: 6px;
    height: 10px;
    width: 10px;
    /*border: 1px solid #455463;*/
    border-radius: 100%;
    background: white;
    /*box-shadow: 0 0 2px rgba(0,0,0,.3), inset 0 1px 0 rgba(255,255,255,.2);*/ }

.page-header--details {
  padding: 0.875em;
  margin-bottom: -15px;
  background-color: white;
  border-bottom: 2px solid #dadbdc;
  text-align: left; }
  .page-header--details .item-header-details {
    float: none; }
  .page-header--details .item-header h1, .page-header--details .item-header--small h1 {
    margin-bottom: .15em;
    font-size: 1.5em;
    font-family: 'ProximaNovaSoft-Semibold'; }
  .page-header--details .item-header h2, .page-header--details .item-header--small h2 {
    color: #969899;
    font-size: 1.1em;
    font-family: 'ProximaNovaSoft-Medium'; }
  .page-header--details .item-header-details {
    margin: 0; }
  .page-header--details .item-header h1, .page-header--details .item-header--small h1 {
    color: #454747; }


/*@ sourceMappingURL=styles.css.map */
/* Localized */

.sf-list-item {
  font-family: "ProximaNovaSoft-Regular";
  color: #525354
}

.sf-layout-item-error {
  color: red;
  font-size: 0.9em;
  font-family: "ProximaNovaSoft-Regular";
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAC90lEQVRIx7WXTWwSQRTHsVWPxngxPfmZNEZ78ubFePXQHky8eDIxRuNBe1OhtCwsVKSmtiDaJg0NiSbqRTEaE9OkrakxUalCWb6kEAWCgJRWJTS243sLi6xAdwbqJC+zXzO/mXn/efNWpWqixM1D7SGD6ZBPZzgq6Az7VJtZSORr5RoAh8EugrnAfoGROvZF4PhxqE+DdbQGH5vYCjNyQEfLDWCNLAntepuC+jn+JHTwmxFYMaFUh8MGUyf2l7k1ogyFBqZmgXUGkIW6W1zB+LfGUPiwb7Og1RbQG481FBIs7wn4qLhhJwN64lVrawyfK8AXg3pjR10hwcuCEjQ8aiOr+TwpZjIVw/uw1a4IB9W7yhOU+fWx4pIh2HqH1CsLWh2dzzn+eAUK698Jvs3RNERAveK5qqEVm+e9WrutJCiOv0ArEs81TQ10Nb9MvNe1tEL7EZSEBqN4KlCCUUjF7HcZuJhOlwRGv8WuSP7NMoHTGRk4/8lDFvoGWLbXQ4RuFxj2IwKWAFRdlj7Ms4LdCN7vYwW7P8rAqVdT1KouL3USwV1M4H6OxJ+4ZGC8x+e0MRzDKIJ3s4ITrmcycGzSSRO5quExBLexxt3IvXEZGIMKy6kF23daUnWABYzhUQYesbGBdQarBLYxnTTmIZKZe0Myr+dIenqW+AdvMq0YxOozErib9dAPmC0kCr7FmtFVaZjxQRH8mR/ciQ6naggiijqcZH1tTVxmrBcnHNTiEnT8c3kCwPHnaSNXIZGU+XglECReTT9NKkSCBtPfM5nr6ZHgM0pRDAErobAMnHO7qSIX9H9JPPsfPKpJ8HbBS7/ymWyHWSdE6M9olIRuW6ni8zu1ti1lGW6Qc3H8kf+Qc8U2zqNfTkkq3wsDmG85w+R4tPtwvUUxtY0Yb4g1LMsO8Le9RfC5F5d72//9M6FN7A9AJzM+utRoHSwFA54kDqcIzA2Psv9NFGx3q5PBLhjEWZjFWDkxfIuhFiCzKBx4bgE7Bdd7aPr+A/AoPXcSPsT7AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  padding-left: 15px;
  background-size: 12px;
  word-wrap: break-word;
}

.ui-header, .ui-footer {
  background-color: #3291db;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.07) 0%, rgba(255, 255, 255, 0.07) 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .ui-header a {
    text-decoration: none;
    font-size: 1.3em;
    color: inherit; }
  .ui-header a:before {
    line-height: 0;
    vertical-align: -6px; }

.ui-title {
  color: white;
  font-family: "ProximaNovaSoft-Regular";
}

.sf-layout-section-heading {
  color: rgb(156, 161, 165);
  font-size: 0.9em;
  margin: 15px 0px;
  text-transform: uppercase;
  padding: 0 15px;
  background-color: rgb(228, 231, 231);
  line-height: 20px;
  font-weight: bold;
}

.edit .ui-content,
#detail .ui-content {
  padding: 0px;
}

.absolute {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;}